html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
}
img#chop {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: -20px;
  height: 100%;
  width: 100%
}
nav {
    position: relative;  
    width: 90%;
    top: 0px;  
    border-bottom: 2px solid white;
    margin: 70px;
    padding-bottom: 10px;
    display: flex;
}
.right {
    flex-grow: 0;
    padding: 0 0 0 10px;
    font-size: 20px;
    align-self: flex-end;    
}
.fresh {
  font-size: 30px;
  font-weight: 500;
  flex-grow: 8;
}
main {
  margin: 0 20px;
  position: relative;
  padding-bottom: 2%;
}
 h1, h2 {
    position: relative;
    text-align: center;
 }
h1 {   
    font-size: 130px;    
    border-bottom: solid white 2px;
    width: 600px;
    margin: 0 auto 0;
    padding: 150px 0 25px 0;
    font-weight: 700;
  }
h2 {
  font-size: 65px;
  font-weight: lighter;
  margin: 25px 0 240px;
}
h3 {
  font-size: 55px;
}
img {
  height: 600px;
  width: 800px;
  
}
.bread {
  display: flex;
  background-color: #333;
  flex-flow: row nowrap;
}

.content {
  padding: 100px;
  font-size: 35px;
  font-weight: lighter;
  
 
}
.pine {
  display: flex;
  background-color: #222;
  flex-flow: row-reverse nowrap;
}
.pasta {
  display: flex;
  background-color: #333;
  flex-flow: row nowrap;
}


